.excalidraw-wrapper {
	height: 800px;
	margin: 50px;
}

:root[dir='ltr']
	.excalidraw
	.layer-ui__wrapper
	.zen-mode-transition.App-menu_bottom--transition-left {
	transform: none;
}


.export-wrapper {
	display: flex;
	flex-direction: column;
	margin: 50px;
}
